package ulid

import (
	"math/rand"
	"sync"
	"time"

	"github.com/oklog/ulid/v2"
)

var (
	entropy *rand.Rand
	once    sync.Once
)

func getEntropy() *rand.Rand {
	once.Do(func() {
		entropy = rand.New(rand.NewSource(time.Now().UnixNano()))
	})
	return entropy
}

// New generates a new ULID string.
func New() string {
	id := ulid.MustNew(ulid.Timestamp(time.Now()), getEntropy())
	return id.String()
}
